#todo-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#todo-title {
  transform: rotate(330deg);
  margin: 70px 10px;
  display: inline-block;
}

#add-new-todo-button {
  float: right;
  margin: 22px;
  width: 200px;
  height: 50px;
  font-size: 17px;
}

#main-content {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}

#left-section {
  width: 25%;
  padding: 10px;
}

#mid-section {
  width: 25%;
  padding: 10px;
}

#right-section {
  width: 25%;
  padding: 10px;
}

.title {
  color: white;
  background-color: black;
}

.card {
  margin: 10px;
  background-color: aquamarine;
}

.card-button {
  float: right;
  margin-right: 10px;
}
